<ion-header>
  <ion-toolbar color="primary" *ngIf="searchbarVisible">
    <ion-searchbar *ngIf="searchbarVisible"
                   color="light"
                   [(ngModel)]="filterTerm"
                   (ionCancel)="cancelSearch()"
                   showCancelButton="always"
                   placeholder="Modul suchen">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="primary" *ngIf="showTitle">
    <ion-title style="text-align: left">Leistungen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="shareRecords()">
        <ion-icon slot="icon-only" name="share-social"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="text-align: center">
  <ion-item button (click)="showStats()" color="light">
    <ion-label style="font-size: 16px" color="dark">Gesamtnote aus <b>{{records.length}}</b> Leistungen
      <ion-label slot="helper" style="font-size: 12px" color="primary">
        <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
        Details
      </ion-label>
    </ion-label>
    <ion-note slot="end" color="primary" style="font-size: 14px"> <b>{{statistic.averageGrade}}%</b> </ion-note>
  </ion-item>
  <ion-item *ngIf="records.length === 0">
    Du hast noch keine Leistung eingetragen 😢
  </ion-item>
  <ion-button *ngIf="records.length === 0" (click)="createRecord()" color="primary">
    Jetzt Leistung eintragen!
  </ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let record of records | filter:filterTerm">
      <ion-item button (click)="editRecord(record)">
        <ion-label style="font-size: 16px">
          {{record.moduleName}}
          <ion-label slot="helper" style="font-size: 12px" color="medium">
            {{record.moduleNr}},  {{record.crp}}crp
          </ion-label>
        </ion-label>
        <ion-note slot="end" color="dark" style="font-size: 14px">
          {{record.grade}}%
        </ion-note>
      </ion-item>
        <ion-item-options side="end" (click)="deleteRecord(record)">
          <ion-button color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="createRecord()" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
