<ion-header>
  <ion-searchbar *ngIf="searchbarVisible"
                 (ionChange)="doSearch()"
                 (ionCancel)="cancelSearch()"
                 showCancelButton="always"
                 placeholder="Modul suchen">
  </ion-searchbar>
  <ion-toolbar>
    <ion-title>module-picker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button
              *ngFor="let module of filteredModules"
              (click)="modalController.dismiss(module)">
      {{module.name}}
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-item button (click)="modalController.dismiss(null)" color="primary">
    <ion-text style="font-size: 18px; text-align: center" >
      Überspringen
    </ion-text>
  </ion-item>
</ion-footer>
