<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="deleteRecord()" *ngIf="isEditMode">
        <ion-icon slot="icon-only" name="trash">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label>ModulNr*</ion-label>
      <ion-input class="ion-text-end" #moduleNr
                 type="text"
                 maxlength="10"
                 [(ngModel)] = "record.moduleNr"
                 required>
      </ion-input>
    </ion-item>
    <p class="ion-text-end ion-padding-end"
       style="color:var(--ion-color-danger)"
       *ngIf="errors.get('moduleNr')">
      {{errors.get('moduleNr')}}
    </p>

    <ion-item>
      <ion-label>Modulname*</ion-label>
      <ion-input class="ion-text-end" #moduleName
                 type="text"
                 maxlength="50"
                 [(ngModel)]="record.moduleName"
                 required>
      </ion-input>
    </ion-item>
    <p class="ion-text-end ion-padding-end"
       style="color:var(--ion-color-danger)"
       *ngIf="errors.get('ModuleName')">
      {{errors.get('ModuleName')}}
    </p>

    <ion-item>
      <ion-label>Sommersemester</ion-label>
      <ion-checkbox [(ngModel)]="record.summerTerm"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Jahr</ion-label>
      <ion-select interface="popover" [(ngModel)]="record.year">
        <ion-select-option *ngFor="let year of years"
                           [value]="year">{{year}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Creditpoints*</ion-label>
      <ion-input class="ion-text-end" #CrP
                 type="number"
                 pattern="[0-9]*"
                 [(ngModel)]="record.crp"
                 required>
      </ion-input>
    </ion-item>
    <p class="ion-text-end ion-padding-end"
       style="color:var(--ion-color-danger)"
       *ngIf="errors.get('CrP')">
      {{errors.get('CrP')}}
    </p>
    <ion-item>
      <ion-label>Note</ion-label>
      <ion-input class="ion-text-end"
                 type="number"
                 pattern="[0-9]*"
                 [(ngModel)]="record.grade"
                 required>
      </ion-input>
    </ion-item>
    <p class="ion-text-end ion-padding-end"
       style="color:var(--ion-color-danger)"
       *ngIf="errors.get('grade')">
      {{errors.get('grade')}}
    </p>
    <ion-item>
      <ion-label>50%-Leistung</ion-label>
      <ion-checkbox [(ngModel)]="record.halfWeighted"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button class="ion-padding-horizontal" expand="block" (click)="save()">
    Speichern
  </ion-button>
</ion-content>
